:root {
  --first-bg: #2c5ead;
  --second-bg: #4bb8fa;
  --third-bg: #c4e2f5;
  --fourth-bg: #1591dc;
}

.Header {
  background-color: var(--first-bg);
}

.Header nav a {
  color: white;
  text-decoration: none;
}

.Header nav a:hover {
  color: var(--second-bg);
}

#hero {
  min-height: 90vh;
  background:
    linear-gradient(rgba(11, 12, 16, 0.7), rgba(11, 12, 16, 1)),
    url("https://t3.ftcdn.net/jpg/12/13/17/94/240_F_1213179442_41PQaTMOtQ2dkdT7Tf0HTh9OPIdI6mQM.jpg")
      center / cover no-repeat;
}

.btn-custom {
  border-radius: 50px;
  background-color: var(--first-bg);
  color: #fff;
}

.btn-custom:hover {
  background-color: var(--fourth-bg);
  color: #fff;
}

#about div div {
  height: 50vh;
  width: 80vh;
}

#fitur {
  background: radial-gradient(
    circle at center,
    rgba(0, 240, 255, 0.05) 0%,
    transparent 70%
  );
}

.card {
  border-radius: 5%;
  transition:
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.fitur-card {
  width: 80px;
  height: 80px;
  background: rgba(0, 240, 255, 0.1);
  color: var(--first-bg);
  font-size: 2.5rem;
}

.filter-btn {
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #94a3b8;
  font-weight: 500;
  background: transparent;
}

.filter-btn:hover {
  background-color: var(--second-bg);
  color: white;
  border-color: var(--second-bg);
  box-shadow: 0 10px 20px rgba(2, 132, 199, 0.2);
}

.pp1-testi {
  width: 50px;
  height: 50px;
  background: url("https://media.licdn.com/dms/image/v2/D5603AQGjkukJwJE1TQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1729395284097?e=2147483647&v=beta&t=cMUayoi59fwrJrdUZxEK5HXXJqSwfP41S0l3egAcXNo")
    center/cover;
}

.pp2-testi {
  width: 50px;
  height: 50px;
  background: url("https://media.licdn.com/dms/image/v2/D4E03AQEoWKsDWoFQxw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1729133403452?e=1781740800&v=beta&t=fzzGtxeSIIMqM9YZwEDwCOnU5aBeaNGzWbc759169T4")
    center/cover;
}

.accordion-item {
  border: 1px solid rgb(196, 196, 196) !important;
  border-radius: 1rem !important;
  margin-bottom: 1rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.accordion-button {
  background: transparent !important;
  color: black !important;
  font-weight: 600;
  box-shadow: none !important;
  padding: 1.5rem;
}

.accordion-body {
  text-align: start;
  color: #2d3035;
  padding: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.8;
}

footer {
  background: rgb(179, 179, 179);
}